{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<!--<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ employee.first_name }} {{ employee.last_name }}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ employee.city }}</p>
        </div>
      </div>
    </div>
  </section>-->
  <!-- Alert -->
{% include 'partials/_alerts.html' %}
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'employees' %}">Employees</a>
          </li>
          <li class="breadcrumb-item active">{{ employee.first_name }} {{ employee.last_name }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'employees' %}" class="btn btn-light mb-4">Back To Employees List</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          <div class="col-md-3">
          <img src="{{ employee.self_photo.url }}" alt="" class="img-main img-fluid mb-3" 
          height="200px" width="200px">
          </div>
          <!-- Thumbnails 
          <div class="row mb-5 thumbs">
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-1.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-2.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-3.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-4.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-5.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <div class="col-md-2">
              <a href="assets/img/homes/home-inside-6.jpg" data-lightbox="home-images">
                <img src="assets/img/homes/home-inside-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div> -->
          <!-- Fields -->
          <div class="row mb-5 fields" style="text-transform: capitalize;">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Aadhar Card Number:
                  <span class="float-right">
                    {% if user.is_authenticated and logged_user == 'employer'%}
                    {{ employee.uid }}
                    {% else %}
                    XXXXXXXX{{ subuid }}  
                    {% endif %}  
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Age:
                  <span class="float-right">{{ employee.age}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Gender:
                  <span class="float-right">{{ employee.gender }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Expected Salary:
                  <span class="float-right">{{ employee.exp_salary}} {{employee.exp_salary_frequency}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Jobs applied:
                  <span class="float-right">{{ employee.job_preference1 }}
                            {% if employee.job_preference2 %}/ {{ employee.job_preference2 }}
                            {% endif %}
                            {% if employee.job_preference3 %}/ {{ employee.job_preference3 }}
                            {% endif %}
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Previous experience:
                  <span class="float-right"> {{employee.prev_work_exp}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Preferred Shift:
                  <span class="float-right"> {{employee.pref_shift}}
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Qualifications:
                  <span class="float-right">{{ employee.qualification }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Phone Number:
                  <span class="float-right">
                    {% if user.is_authenticated and logged_user == 'employer'%}
                    {{ employee.phone }}
                    {% else %}
                    XXXXXX{{ subphone }}  
                    {% endif %}  
                   
                  </span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Applied on:
                  <span class="float-right">{{ employee.create_date }}
                  </span>
                </li>


              </ul>
            </div>
          </div>

          <!-- Description 
          <div class="row mb-5">
            <div class="col-md-12">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse reiciendis officia omnis non rerum dicta
              cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur ad fugit. Possimus culpa
              blanditiis repellendus ipsa similique ullam, natus error dolor harum.
            </div>
          </div>-->
        </div>
        
        <div class="col-md-3">
            <!--
          <div class="card mb-3">
            <img class="card-img-top" src="assets/img/realtors/kyle.jpg" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Property Realtor</h5>
              <h6 class="text-secondary">Kyle Brown</h6>
            </div>
          </div>-->
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Send Interest</button>
          
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  {% if user.is_authenticated %}
  {% if logged_user == 'employer' %}
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Send Interest</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- start of enquiry form -->
          
          <form action="{% url 'contact_employee' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="ad" class="col-form-label">Vacancy for:</label>
              <select name="ad" class="form-control">
                
                  {% for ad in ads %}
                    <option value="{{ ad.id }}">{{ ad.requirement }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="employee_id" class="col-form-label">Employee Id:</label>
              <input type="text" name="employee_id" class="form-control" 
              value="{{ employee.uid }}" >
            </div>
            <div class="form-group">
              <label for="fullname" class="col-form-label">Employer Name:</label>
              <input type="text" name="fullname" class="form-control" 
              value="{{ user.first_name }} {{ user.last_name }}" >
            </div>
            <div class="form-group">
              <label for="firm_name" class="col-form-label">Firm Name:</label>
              <input type="text" name="firm_name" class="form-control" 
              value="{{ user.username }}" >
            </div>
            <!--
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control" 
              value="{{employee.phone}}" placeholder="e.g. 9876543210" pattern="[6-9]{1}[0-9]{9}" >
            </div>-->
            
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
            
        </div>
      </div>
    </div>
  </div>
  {% else %}

  {% endif %}
          <!-- End of Enquiry form -->

          {% else %}
          <div class="modal fade" id="inquiryModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inquiryModalLabel">Please register first</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
          <form action="{% url 'register_er' %}" enctype="multipart/form-data" method="POST">
            <div id="employerreg" class="form-group" >
               {% csrf_token %}
               <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" class="form-control" required>
               </div>
               <div class="form-group">
                 <label for="last_name">Last Name</label>
                 <input type="text" name="last_name" class="form-control" required>
               </div>
              <div class="form-group">
                <label for="firmname">Firm name</label>
                <input type="text" name="firmname" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password2">Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" name="password2" class="form-control" required>
              </div>             
               <!--   {{ employer_form.as_p }} -->
              
            <!-- end if -->
            <input type="submit" value="Register" class="btn btn-secondary btn-block">

            </div>
        </form>
          
        </div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}